/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background: #fff;
  font: 13px arial, sans-serif;
  color: #3F3F3F;
}

/*body * {
  border: 0.2px dashed #333;
}*/

/*
==========================
TOP NAVBAR
---------------------------------------------------
*/
header {
  height: 35px;
  width: 100%;
  position: relative;
  top: 10px;
}

.top-right {
  width:305px;
  height:35px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 35px;
}

.top-right li {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
  height: 30px;
}

.top-right a:hover,
footer a:hover {
  text-decoration: underline;
}

.top-right a,
footer a  {
    color: #272727;
    text-decoration: none;
}

.top-right img {
  height:30px;
  width: 30px;
}

.top-right img:last-child {
  height:32px;
  width: 33px;
}
/*
==========================
Section
---------------------------------------------------
*/
section img {
  height: 92px;
  width: 272px;
  margin-bottom: 30px;
}

section {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 90px;
  padding: 0 90px;
}

.search-bar {
  width: 590px;
  margin: 0 auto;
}

.search-engine {
  font: 200 16px/22px;
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.btn-container {
  width: 590px;
  height: 58px;
  margin: 15px auto;
  font-weight: 600;
}

.buttons {
  background: #F2F2F2;
  color: #757575;
  min-width: 126px;
  height: 36px;
  line-height: 36px;
  border: 0;
  display: inline-block;
  margin:6px 3px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  font-size: 13px;
}

.buttons:hover  {
  color: #222222;
  background: #F7F7F7;
  background: -webkit-linear-gradient(#F1F1F1, #F7F7F7);
  background:    -moz-linear-gradient(#F1F1F1, #F7F7F7);
  background:         linear-gradient(#F1F1F1, #F7F7F7);
  border-radius: 3px;
  border: 1px solid #aaa;
}

.search-bar input {
  font-size: 26px;
  height: 38px;
  width: 600px;
  padding: 3px;
}

/*
==========================
Bottom NavBar
---------------------------------------------------
*/

footer {
  height: 40px;
  background: #F2F2F2;
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
}

footer a {
  padding-left: 27px;
  margin: 0;
  color: #6C6C6C;
}

.left-nav-footer {
  position: absolute;
  line-height: 40px;
  left: 0;
  }

.right-nav-footer {
  position: absolute;
  line-height: 40px;
  margin-right: 27px;
  right: 0;
}
